 <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'regi/style.css' %}">
</head>
<body>
    <div class="container">
        <h2>Student Registration Form</h2>
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}

            <div class="form-group">
                <label for="fullName">Full Name</label>
                <input type="text" id="fullName" name="n"  placeholder="Enter your full name" value="{% if coll %} {{coll.name}} {% endif %}">
                <label for="">Register Number</label>
                <input type="text" name="r"  placeholder="Enter your Register name"  value="{% if coll %} {{coll.register}} {% endif %}">
            </div>

            <div class="form-group">
                <label for="email">Email Address</label>
                <input type="email" id="email" name="e"  placeholder="Enter your email"  value="{% if coll %} {{ coll.email }} {% endif %}">
            </div>

            <div class="form-group">
                <label for="phone">Phone Number</label>
                <input type="tel" id="phone" name="p"  placeholder="Enter your phone number"  value="{% if coll %} {{ coll.phone }} {% endif %}">
            </div>

            <div class="form-group">
                <label for="address">Address</label>
                <textarea id="address" name="ad" rows="4"  placeholder="Enter your address"  value="{% if coll %} {{coll.address}} {% endif %}"></textarea>
            </div>

            <div class="form-group">
                <button type="submit" class="btn-submit" name="re" >Register</button>
            </div>
            <div class="form-group">
                <label for="profilePic">Profile Picture</label>
                <input type="file" id="profilePic" name="img" accept="image/*" >
            </div>
            <button type="submit" class="fetch" name="fet">Fetch</button>
    
        </form>
    </div>
    <div class="picture">
        <img src=" {{coll.img}}" alt="" width="200px">
    </div>
        
</body>
</html> 

